@use "../abstracts/variables";

body {
	font-family: system-ui, sans-serif;
	font-size: 1rem;
	color: var(--primary-text);
	background-color: var(--primary-background);

	li {
		a {
			color: var(--primary-text);
			text-decoration: none;
			border-bottom: 1px dotted;

			&:hover {
				border-bottom: 1px solid;
			}
		}
	}

	p {
		line-height: 1.75;

		a {
			color: var(--primary-text);
			text-decoration: none;
			border-bottom: 1px dotted;

			&:hover {
				border-bottom: 1px solid;
			}
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--primary-text);
	}

	h1 {
		font-size: 2em;
		margin-bottom: 25px;

		@media screen and (min-width: variables.$breakpoint-mobile) {
			margin-bottom: 50px;
		}

		@media screen and (min-width: variables.$breakpoint-tablet) {
			margin-bottom: 100px;
		}
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1.25em;
	}

	h5 {
		font-size: 1em;
	}

	h6 {
		font-size: 0.875em;
	}

	.heading {
		display: grid;
		grid-template-columns: 1fr max-content 1fr;
		align-items: center;
		gap: 1rem;
		margin: 0 0 2rem;

		&:before,
		&:after {
			content: "";
			height: 1px;
			background-color: var(--primary-text);
		}
	}
}
