@use "../abstracts/variables";

@font-face {
	font-family: "Cantarell";
	src: url(./assets/fonts/Cantarell/Cantarell-Bold.ttf);
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Cantarell";
	src: url(./assets/fonts/Cantarell/Cantarell-Regular.ttf);
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Cantarell";
	src: url(./assets/fonts/Cantarell/Cantarell-Italic.ttf);
	font-weight: 400;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Cantarell";
	src: url(./assets/fonts/Cantarell/Cantarell-BoldItalic.ttf);
	font-weight: 700;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Fjalla One";
	src: url(./assets/fonts/FjallaOne/FjallaOne-Regular.ttf);
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

$font-sans-primary: "Cantarell", sans-serif;
$font-sans-secondary: "Fjalla One", sans-serif;

body {
	font-family: $font-sans-primary;
	font-size: 1rem;
	color: var(--primary-text);
	background-color: var(--primary-background);

	p {
		a {
			color: var(--primary-text);
			text-decoration: none;
			border-bottom: 1px dotted;

			&:hover {
				border-bottom: 1px solid;
			}
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $font-sans-secondary;
		color: var(--primary-text);
	}

	h1 {
		font-size: 2em;
		margin-bottom: 25px;

		@media screen and (min-width: variables.$breakpoint-mobile) {
			margin-bottom: 50px;
		}

		@media screen and (min-width: variables.$breakpoint-tablet) {
			margin-bottom: 100px;
		}
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1.25em;
	}

	h5 {
		font-size: 1em;
	}

	h6 {
		font-size: 0.875em;
	}

	.lead {
		font-size: 1.25rem;
		font-family: $font-sans-secondary;

		@media screen and (min-width: variables.$breakpoint-tablet) {
			font-size: 1.5rem;
		}
	}

	.center {
		text-align: center;
	}

	.heading {
		position: relative;
		text-align: center;
		margin: 2rem 0 3rem;
		padding: 0 2rem;

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			width: calc(50% - 4rem);
			height: 1px;
			background-color: var(--primary-text);
		}

		&:before {
			left: 0;
		}

		&:after {
			right: 0;
		}
	}
}
