@use "../abstracts/variables";

.container {
	padding: 0;
	max-width: variables.$container-width;
	margin: 0 auto;
}

.badges-grid {
	padding: 0;
	margin: 0;
	list-style: none;
}

@media screen and (min-width: variables.$breakpoint-mobile) {
	.badges-grid {
		column-count: 2;
		column-gap: 2rem;
	}
}

@media screen and (min-width: variables.$breakpoint-tablet) {
	.badges-grid {
		column-count: 3;
		column-gap: 2rem;
	}
}

.grid {
	display: grid;
	gap: 2rem;
	clear: both;

	&--narrow {
		gap: 0;

		@media screen and (min-width: variables.$breakpoint-tablet) {
			gap: 0.5rem;
		}
	}

	&--plugin-buttons {
		grid-template-columns: 1fr;

		@media screen and (min-width: variables.$breakpoint-tablet) {
			grid-template-columns: 3fr 2fr !important;
		}
	}

	&--2-cols {
		grid-template-columns: 1fr;

		@media screen and (min-width: variables.$breakpoint-tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&--3-cols {
		grid-template-columns: 1fr;

		@media screen and (min-width: variables.$breakpoint-tablet) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&--4-cols {
		grid-template-columns: 1fr;

		@media screen and (min-width: variables.$breakpoint-mobile) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media screen and (min-width: variables.$breakpoint-tablet) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	@media screen and (min-width: variables.$breakpoint-tablet) {
		section:nth-child(even) &:not(.grid--no-alternate) {
			.grid__item {
				&:nth-child(1) {
					order: 2;
				}
				&:nth-child(2) {
					order: 1;
				}
			}
		}

		section:nth-child(odd) &:not(.grid--no-alternate) {
			.grid__item {
				&:nth-child(1) {
					order: 1;
				}
				&:nth-child(2) {
					order: 2;
				}
			}
		}
	}
}
