@use "../abstracts/variables";

.site-footer {
	background-color: var(--secondary-background);
	padding: 0;
	margin: 0;
	flex-shrink: 0;
	width: 100%;
	position: relative;
}

.footer-content {
	color: var(--secondary-text);
	font-size: 15px;
	padding: 20px 90px 20px 20px;
	margin: auto;
	max-width: 900px;
	text-align: center;

	a {
		color: var(--secondary-text);
		text-decoration: none;
		border-bottom: 1px dotted;

		&:hover {
			border-bottom-style: solid;
		}
	}

	&__nav {
		display: inline-block;
	}

	&__menu {
		display: inline;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.menu-item {
		display: inline;

		&::after {
			content: " \2022 ";
		}
	}

	abbr {
		display: inline-block;

		svg {
			fill: var(--secondary-text);
			display: inline-block;
			height: 12px;
			width: 12px;
		}
	}
}
